/* 전체 레이아웃 */
.layout {
    display: flex;
    min-height: 100vh;
}

/* 사이드바 */
.sideNav {
    position: relative;
    width: 220px;
    flex-shrink: 0;
}

.sideNavFolded {
    width: 74px;
}

.sidebarToggleWrapper {
    position: absolute;
    top: 20px;
    right: 17px;
    display: flex;
    width: 34px;
    height: 34px;
    border-radius: 10px;
    background: #E9ECFF;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebarToggleIcon {
    width: 22px;
    height: 22px;
}

.sideNavLogo {
    position: absolute;
    top: 79px;
    left: 50%;
    transform: translateX(-50%);
    width: 164px;
}

.sideNavLogoSvg {
    position: absolute;
    top: 97px;
    left: 50%;
    transform: translateX(-50%);
    width: 51px;
}

.sidebarMenuWrapper {
    position: absolute;
    top: 205px;
    left: 8px;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.sidebarMenu {
    width: 202px;
    height: 48px;
    border-radius: 10px;
    color: #787878;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    line-height: 48px;
    cursor: pointer;
    gap: 16px;
    padding-left: 20px;
}

.sideNavFolded .sidebarMenu {
    width: 58px;
    padding-left: 19px;
    justify-content: flex-start;
    gap: 0;
}

.active {
    background-color: #E9ECFF;
    color: #454DD7;
    font-weight: 700;
}

.sidebarMenu:hover {
    background: #E9ECFF;
}

.sidebarMenuIcon {
    width: 20px;
}

.sidebarProfileWrapper {
    display: flex;
    position: absolute;
    left: 15px;
    bottom: 34px;
    align-items: center;
    width: 202px;
}

.sidebarProfile {
    width: 45px;
    height: 43px;
    border-radius: 12px;
    background: #FFD15B;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebarProfileImg {
    width: 26px;
    height: 37px;
    border-radius: 12px;
    object-fit: cover;
}

.sidebarUser {
    color: #2C2C2C;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
}

.sidebarLogout {
    position: absolute;
    right: 15px;
    width: 20px;
    cursor: pointer;
}