.ticketRow {
  display: grid;
  grid-template-columns: 300px 240px 200px 150px 30px;
  align-items: center;
  height: 70px;
  border-radius: 10px;
  background: #FAFAFB;
  padding: 0 20px;
}

.ticketRow img {
  height: 20px;
  transform: translateY(1px);
}

.colName {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 18px;
  font-weight: 700;
  overflow: hidden;
}

.colPeriod,
.colCount {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  font-weight: 500;
}

.colStatus {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.colAction {
  display: flex;
  justify-content: center;
}

.dot {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.exercise {
  font-size: 18px;
  font-weight: 700;
}

.ticketRow.ended .colStatus {
  color: #919191;
}

.moreWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.moreButton {
  width: 36px;
  height: 36px;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.moreButton img {
  width: 14px;
  height: auto;
}

.dropdown {
  position: absolute;
  top: 54px;
  right: -30px;
  width: 134px;
  height: 96px;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0 2.44px 2.44px 0 rgba(0, 0, 0, 0.10);
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 10;
}

.dropdownItem {
  display: flex;
  align-items: center;
  gap: 7px;
  height: 36px;
  padding: 0 12px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.dropdownItem:first-child {
  background: #F5F6FD;
  color: #454DD7;
}

.delete {
  background: #FFF6F6;
  color: #FF5858;
}

.editIcon {
  width: 14.64px;
  height: 14.64px !important;
}

.deleteIcon {
  width: 15.86px;
  height: 15.86px !important;
}

.colStatus {
  width: 96px;
  height: 40px;

  background: #FFF3CD;
  border-radius: 15px;
  border: none;

  font-weight: 500;
  color: #2c2c2c;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: all 0.15s ease;
}

.colStatus:hover {
  background: #FFE7AA;
}

