.wrap {
    display: flex;
    min-height: 100vh;
    min-width: 1280px;
}

.calendarPage {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: #FAFAFB;
    min-height: 900px;
}

.calendarInner {
    position: relative;
    width: 100%;
    max-width: 1008px;
    margin-bottom: 32px;
}

.title {
    position: absolute;
    color: var(--black);
    top: 37px;
    font-size: 24px;
    font-weight: 700;
}

.calendar {
    position: absolute;
    top: 98px;
    width: 546px;
    height: 770px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
}

.header {
    display: flex;
    height: 53px;
}

.month {
    position: relative;
    top: 16px;
    left: 23px;
    color: var(--black);
    font-size: 20px;
    font-weight: 700;
}

.arrow {
    position: absolute;
    top: 20px;
    right: 23px;
    display: flex;
    justify-content: space-between;
    width: 59px;
}

.arrowBtn {
    width: 17px;
    height: 19px;
    cursor: pointer;
}

.rotate {
    transform: rotate(180deg);
}

.week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 78px;
    text-align: center;
    line-height: 78px;
    font-size: 12px;
    color: var(--black);
    font-weight: 500;
    background: #F2F2F4;
}

.weekItem {
    text-align: center;
}

.days {
    position: relative;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-auto-rows: 1fr;
    height: calc(770px - 78px - 60px);
    z-index: 1;
}

.days::before {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 0;

    background-image:
        linear-gradient(to right, #F2F2F4 1px, transparent 1px),
        linear-gradient(to bottom, #F2F2F4 1px, transparent 1px);

    background-size:
        calc(100% / 7) 100%,
        100% calc(100% / 6);

    background-position:
        0 0,
        0 calc(100% / 5);
}

.day {
    position: relative;
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8px;
}

.date {
    font-size: 12px;
    color: var(--black);
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.activeDate {
    color: var(--primary);
    font-weight: 700;
}

.activeDateLine {
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 4px);
    height: 1px;
    background-color: #FF8F6B;
    border-radius: 999px;
    border: none;
    z-index: 3;
}

.tag {
    width: 71px;
    margin-top: 4px;
    padding: 3px;
    border-radius: 2px;
    font-size: 11px;
    text-align: center;
    color: var(--black);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.moreTag {
    position: absolute;
    left: 8px;
    bottom: 5px;

}

.health {
    background: #dcd8ff;
    color: #4b44c7;
}

.ballet {
    background: #f5d9ff;
    color: #a23bc7;
}

.workout {
    background: #dff6f6;
    color: #1d7a7a;
}

.money {
    position: absolute;
    top: 98px;
    right: 0px;
}

.moneyCard {
    padding: 9.5px;
}

.moneyMain {
    font-size: 20px;
    font-weight: 700;
    color: var(--black);
}

.label {
    margin-right: 6px;
}

.current {
    color: #f0b429;
}

.total {
    color: var(--black);
}

.badges {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.badgeYellow {
    background: #fff6df;
    padding: 9.5px 15px;
    border-radius: 10px;
    font-size: 14px;
    color: var(--black);
    width: fit-content;
}

.badgeBlue {
    background: #eef0ff;
    padding: 9.5px 15px;
    border-radius: 10px;
    font-size: 14px;
    color: var(--black);
    width: fit-content;
}

.goal {
    position: absolute;
    top: 303px;
    right: 0px;
}

.goalList {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.goalItem {
    display: flex;
    align-items: center;
    gap: 2px;
    background-color: #F2F2F4;
    border-radius: 10px;
    height: 38px;
    padding-left: 15px;
}

.goalItem:focus-within,
.goalItem:hover {
    background-color: #E9ECFF;
}

.goalItem span {
    display: flex;
    align-items: center;
    height: 100%;
    line-height: 38px;
    color: #919191;
}

.goalItem:has(input:not(:placeholder-shown)) span {
    color: var(--black);
}

.goalItem input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    height: 100%;
    line-height: 38px;
    padding: 0;
    color: var(--black);
}


.goalItem input::placeholder {
    line-height: 38px;
    color: #919191;
    transform: translateY(1.5px);
}

.today {
    position: absolute;
    top: 561px;
    right: 0px;
}

.summary {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.list {
    flex: 1;
    overflow-y: auto;
    padding: 0 0 20px 0;
    margin: 0;
    scrollbar-gutter: stable;
}

.list::-webkit-scrollbar {
    width: 6px;
}

.list::-webkit-scrollbar-track {
    background: transparent;
}

.list::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 999px;
}

.list::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.25);
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 53px;
    padding-right: 10px;
    cursor: pointer;
}

.item:not(:last-child) {
    border-bottom: 1px solid #f0f0f0;
}

.left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.dotContainer {
    display: flex;
    gap: 2px;
    margin-top: 4px;
    align-items: center;
}

.dot {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    cursor: pointer;
}

.moreDot {
    font-size: 10px;
    color: #666;
}

.activeDay {
    background: #E9ECFF;
}

.status {
    font-size: 12px;
    opacity: 0.5;
}

.success {
    color: #00AA21;
    font-weight: 600;
}

.fail {
    color: #FF5858;
    text-decoration: line-through;
    font-weight: 600;
}

.purchase {
    color: #E5B53B;
    font-weight: 600;
}

.addBtn {
    flex-shrink: 0;
    height: 27px;
    border-radius: 10px;
    background: #F2F2F4;
    border: none;
    font-size: 24px;
    color: #919191;
    cursor: pointer;
    line-height: 27px;
}

.addBtn:hover {
    background-color: #E9ECFF;
}

.ticketWrapper {
    position: absolute;
    right: 4px;
    bottom: 4px;
    opacity: 0.7;
}

.ticketIcon {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    cursor: pointer;
}

.ticketTooltip {
    position: absolute;
    bottom: 20px;
    right: 0;
    background: rgba(34, 34, 34);
    color: white;
    font-size: 11px;
    padding: 4px 6px;
    border-radius: 6px;

    opacity: 0;
    pointer-events: none;
    white-space: nowrap;

    transition: opacity 0.2s;
}

.ticketWrapper:hover .ticketTooltip {
    opacity: 1;
}