.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
}

.header {
  position: relative;
  flex-shrink: 0;
  height: 53px;
  border-bottom: 1px solid #F4F4F4;
}

.title {
  color: #2C2C2C;
  font-size: 20px;
  font-weight: 700;
  padding: 12px 23px;
}

.content {
  flex: 1;
  overflow: hidden;
  padding: 14px 23px;
  font-size: 14px;
  color: #2c2c2c;
}

.button {
    position: absolute;
    top: 14px;
    right: 23px;
    padding: 7px 12px;
    border-radius: 10px;
    background: #454DD7;
    color: #FFF;
    font-size: 12px;
    border: none;
    outline: none;
    cursor: pointer;
}

.button:hover {
    background: #38359D;
}