.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  flex-shrink: 0;
  height: 53px;
  border-bottom: 1px solid #F4F4F4;
}

.title {
  color: #2C2C2C;
  font-size: 20px;
  font-weight: 700;
  padding: 16px 23px;
}

.content {
  flex: 1;
  overflow: hidden;
  padding: 14px 23px;
  font-size: 14px;
  color: #2c2c2c;
}