:root {
  --primary: #454dd7;
  --primary-light: #88a6f1;
  --primary-soft: #e9ecff;
  --primary-dark: #38359d;

  --background: #fafafb;

  --secondary: #ffc227;
  --secondary-light: #ffe7aa;
  --secondary-soft: #fff8e6;
  --secondary-dark: #e5b53b;

  --black: #2c2c2c;
  --gray: #787878;
  --white: #ffffff;

  --success: #00aa21;
  --error: #ff5858;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family:
    'Nunito',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;

  min-height: 100%;
  background-color: var(--background);
  color: var(--black);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

body.modal-open {
  overflow: hidden;
}
