* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  min-height: 100%;
  background-color: #FAFAFB;
  color: #2C2C2C;
}

body.modal-open {
  overflow: hidden;
}