.wrap {
  display: flex;
  min-height: 100vh;
}

.writePage {
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: var(--background);
  min-height: 900px;
}

.writeInner {
  position: relative;
  width: 100%;
  max-width: 1008px;
  margin-bottom: 32px;
}

.title {
  position: absolute;
  color: var(--black);
  top: 37px;
  font-size: 24px;
  font-weight: 700;
}

.tabContainer {
  position: absolute;
  right: 0px;
  display: flex;
  gap: 12px;
  margin-top: 16px;
}

@media (max-width: 1440px) {
  .writeInner {
    width: 604px;
  }
}
